<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Download novel</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>

</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link active px-2 text-white">Download novel</a></li>
                <li><a th:href="@{/exportHtml}" class="nav-link px-2 text-white">Export</a></li>

            </ul>
        </div>
    </div>
</header>
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <form th:action="@{/exportHtml}" th:object="${novelForm}" method="post">
                <div class="mb-4">
                    <label>Choice novel</label>
                    <select class="form-select" aria-label="Default select example" name="novelName">
                        <option selected>Open this select menu</option>
                        <span th:each="novel:${novels}">
                         <option th:text="${novel.novelName}"  th:value="${novel.novelName}" ></option>
                        </span>
                    </select>
                </div>
                <div class="md-12">
                    <button type="submit" class="btn btn-primary" value="exportHtml">Export to Html</button>
                </div>
            </form>
            <form th:action="@{/exportPdf}" th:object="${novelForm}" method="post">
                <div class="mb-4">
                    <label>Choice novel</label>
                    <select class="form-select" aria-label="Default select example" name="novelName">
                        <option selected>Open this select menu</option>
                        <span th:each="novel:${novels}">
                         <option th:text="${novel.novelName}"  th:value="${novel.novelName}" ></option>
                        </span>
                    </select>
                </div>
                <div class="md-12">
                    <button type="submit" class="btn btn-primary" value="exportHtml">Export to Pdf</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>